In [1]:
#Importing all the required libraries
import pandas as pd
import numpy as np
import csv
import datetime as dt
from io import StringIO

In [2]:
#Converting csv into dataframe
df1=pd.read_csv('vehicle_collisions.csv', parse_dates=[1])

In [6]:
#Creating new dataframe
df2 = df1[['BOROUGH', 'VEHICLE 1 TYPE', 'VEHICLE 2 TYPE', 'VEHICLE 3 TYPE', 'VEHICLE 4 TYPE','VEHICLE 5 TYPE']]

In [16]:
#Filling zero's for NaN values
df2 = df2.fillna(value= 0)

In [19]:
df3 = df2[(df2['BOROUGH'] != 0)]

In [38]:
df3['VEHICLE 1 TYPE'] = df3['VEHICLE 1 TYPE'].str.replace(r'[a-zA-Z0-9/ ()-]+', '1')
df3['VEHICLE 2 TYPE'] = df3['VEHICLE 2 TYPE'].str.replace(r'[a-zA-Z0-9/ ()-]+', '1')
df3['VEHICLE 3 TYPE'] = df3['VEHICLE 3 TYPE'].str.replace(r'[a-zA-Z0-9/ ()-]+', '1')
df3['VEHICLE 4 TYPE'] = df3['VEHICLE 4 TYPE'].str.replace(r'[a-zA-Z0-9/ ()-]+', '1')
df3['VEHICLE 5 TYPE'] = df3['VEHICLE 5 TYPE'].str.replace(r'[a-zA-Z0-9/ ()-]+', '1')

In [39]:
df3 = df3.fillna(value= 0)

In [40]:
df3['VEHICLE 1 TYPE']=df3['VEHICLE 1 TYPE'].astype(str).astype(int)
df3['VEHICLE 2 TYPE']=df3['VEHICLE 2 TYPE'].astype(str).astype(int)
df3['VEHICLE 3 TYPE']=df3['VEHICLE 3 TYPE'].astype(str).astype(int)
df3['VEHICLE 4 TYPE']=df3['VEHICLE 4 TYPE'].astype(str).astype(int)
df3['VEHICLE 5 TYPE']=df3['VEHICLE 5 TYPE'].astype(str).astype(int)

In [55]:
df4= df3.groupby(['BOROUGH'], as_index=False).sum()

In [58]:
df4['ONE_VEHICLE_INVOLVED'] = df4['VEHICLE 1 TYPE'] - df4['VEHICLE 2 TYPE']
df4['TWO_VEHICLES_INVOLVED'] = df4['VEHICLE 2 TYPE'] - df4['VEHICLE 3 TYPE']
df4['THREE_VEHICLES_INVOLVED'] = df4['VEHICLE 3 TYPE'] - df4['VEHICLE 4 TYPE']
df4['MORE_VEHICLES_INVOLVED'] = df4['VEHICLE 4 TYPE']

In [61]:
print(df4.head())

         BOROUGH  VEHICLE 1 TYPE  VEHICLE 2 TYPE  VEHICLE 3 TYPE  \
0          BRONX           45599           36972            2587
1       BROOKLYN          104174           86799            6592
2      MANHATTAN           82801           69483            2525
3         QUEENS           89140           76178            5918
4  STATEN ISLAND           13943           11600             924

   VEHICLE 4 TYPE  VEHICLE 5 TYPE  ONE_VEHICLE_INVOLVED  \
0             625             173                  8627
1            1612             461                 17375
2             501             129                 13318
3            1420             314                 12962
4             165              32                  2343

   TWO_VEHICLES_INVOLVED  THREE_VEHICLES_INVOLVED  MORE_VEHICLES_INVOLVED
0                  34385                     1962                     625
1                  80207                     4980                    1612
2                  66958                     2024                     501
3                  70260                     4498                    1420
4                  10676                      759                     165

In [60]:
df4.to_csv('vehicle_collisions_new1.csv')