In [1]:
#Importing all the required libraries
import pandas as pd
import numpy as np
import csv
import datetime as dt
from io import StringIO

In [2]:
#Converting csv into dataframe
df1=pd.read_csv('movies_awards.csv', parse_dates=[1])

In [7]:
#Filling zero's for NaN values
df1 = df1.fillna(value= 0)

In [10]:
df2 = df1[['Awards']]

In [11]:
df2['']

                                                  Awards
0                                                      0
1                                                      0
2                                                      0
3                                 1 win & 2 nominations.
4                                                 1 win.
5                                          1 nomination.
6                                3 wins & 2 nominations.
7                                  1 win & 1 nomination.
8                                                      0
9                                                      0
10                                                     0
11                                        5 nominations.
12                                                     0
13                               2 wins & 5 nominations.
14                                                     0
15     Nominated for 1 Oscar. Another 13 wins & 13 no...
16                                                     0
17                                                     0
18                               5 wins & 4 nominations.
19                                                     0
20                                                     0
21                                                     0
22                                                     0
23                                                     0
24     Nominated for 1 Golden Globe. Another 14 wins ...
25                               3 wins & 2 nominations.
26                                                     0
27                                                     0
28                                         1 nomination.
29                                                     0
...                                                  ...
15357                                                  0
15358                                                  0
15359                                                  0
15360                                                  0
15361                                                  0
15362                                                  0
15363                                                  0
15364                                                  0
15365                                                  0
15366                                                  0
15367                                                  0
15368                                                  0
15369                                                  0
15370                                                  0
15371                                                  0
15372                                                  0
15373                                                  0
15374                                                  0
15375                                                  0
15376                                                  0
15377                                                  0
15378                                                  0
15379                                                  0
15380                                                  0
15381                                                  0
15382                                                  0
15383                                                  0
15384                                                  0
15385                                                  0
15386                                                  0

[15387 rows x 1 columns]

In [ ]:
df1['Awards'] = df['raw'].str.extract('([A-Z]\w{0,})', expand=True)