In [1]:
#Importing all the required libraries
import pandas as pd
import numpy as np
import csv
import datetime as dt
from io import StringIO

In [2]:
#Converting csv into dataframe
df1=pd.read_csv('cricket_matches.csv')

In [4]:
df3 = df1[['home', 'winner','innings1','innings1_runs', 'innings2', 'innings2_runs']]

In [6]:
df4 = df3[df3['home']== df3['winner']]

In [7]:
df4.shape

(3019, 6)

In [8]:
df5= df4[df4['winner'] == df4['innings2']]

In [11]:
df5.shape

(1527, 7)

In [12]:
df6= df4[df4['winner'] == df4['innings1']]

In [13]:
df6.head()

,home,winner,innings1,innings1_runs,innings2,innings2_runs
1,Hampshire,Hampshire,Hampshire,153.0,Sussex,148.0
6,Surrey,Surrey,Surrey,182.0,Essex,138.0
7,Yorkshire,Yorkshire,Yorkshire,186.0,Derbyshire,141.0
10,Leicestershire,Leicestershire,Leicestershire,174.0,Yorkshire,158.0
17,Sussex,Sussex,Sussex,177.0,Middlesex,136.0

In [14]:
df6['Score'] = df6['innings1_runs']

C:\Users\guest 1\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [15]:
df6.shape

(1492, 7)

In [161]:
frames =  [df5, df6]

In [20]:
df7 = pd.concat([df5,df6])

In [17]:
df7.shape

(3019, 7)

In [21]:
df8 = df7[['home', 'Score']]

In [22]:
df9 = df8.groupby(['home'], as_index= False).mean()

In [24]:
df9.to_csv('cricket_matches_new.csv')

In [25]:
df9.head()

                 home       Score
0     Abahani Limited  172.000000
1  Abbottabad Falcons  139.454545
2   Abbottabad Region  182.666667
3   Abbottabad Rhinos  165.000000
4   Adelaide Strikers  163.111111